<!DOCTYPE html>
<html lang="en">
<head>
	<title>Results</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">	</script>	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<p style="line-height:20px;margin:0px;"><br></p>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="container"><div class="p-3 mb-2 bg-dark text-white">
            <img class="d-block w-100" src="data:image/png;base64,{{base64_0}}" width=900 height=600 ><div class="p-3 mb-2 bg-dark text-white"><p class="text-center">Word Cloud</p></div>
        </div></div>
    </div>
    <div class="carousel-item">
        <div class="container"><div class="p-3 mb-2 bg-dark text-white">
            <img class="d-block w-100" src="data:image/png;base64,{{base64_1}}" width=900 height=600 ><div class="p-3 mb-2 bg-dark text-white"><p class="text-center">Top 10 correlated keywords</p></div>
        </div></div>
    </div>
    <div class="carousel-item">
        <div class="container"><div class="p-3 mb-2 bg-dark text-white">
            <img class="d-block w-100" src="data:image/png;base64,{{base64_2}}" width=900 height=600 ><div class="p-3 mb-2 bg-dark text-white"><p class="text-center">Top 10 used keywords</p></div>
        </div></div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <div class="p-3 mb-2 bg-dark text-white"><span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span></div>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <div class="p-3 mb-2 bg-dark text-white"><span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span></div>
  </a>
</div>
</body>
</html>